[Unit]
Description=Dynamically update DNS records.
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/ddns.sh
